{% extends "layout.html.twig" %}

{% block title %}
	Admin |
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<div class="container-fluid mt-4">
		<h1 class="text-center">Liste des articles</h1>
		<div class="row mt-4">
			<div class="col-md-12">
				<a href="{{ path('admin.article.create') }}" class="btn btn-inline btn-primary mt-4 mb-2 text-light">Créer un article</a>
				<div class="blog-list">
					{% include "Components/_articles.html.twig" with {admin: true} %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
