{{ form_start(form) }}

{{ form_row(form.titre) }}
{{ form_row(form.categories) }}
{{ form_row(form.content) }}
<div class="text-center">
	<button type="submit" class="btn btn-primary btn-inline">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
