{% extends "layout.html.twig" %}

{% block title %}
	Création d'un article |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container-fluid mt-4">
		<div class="card w-50 mx-auto p-3">
			<h1 class="text-center">Création d'un article</h1>
			{{ form_start(form) }}

			{{ form_widget(form.titre, {'attr': {'class': 'mb-4', 'placeholder': 'Titre de l\'article'} } ) }}
			{{ form_widget(form.content, {'attr': {'class': 'mb-4', 'placeholder': 'Contenu de l\'article', 'rows': 10} } ) }}
			<div class="text-center">
				<button type="submit" class="btn btn-primary btn-inline">Créer</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
