{{ form_start(form, {'attr': {'class': 'form-filter p-3 card js-filter-form'} }) }}

<div class="loader">
	<div class="spinner-grow js-loading" role="status" aria-hidden="true" style="display: none">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

{{ form_row(form.query) }}
<h2 class="mb-2">Catégories:</h2>
{{ form_row(form.categories, {'attr': {'class': 'd-flex flex-wrap gap-2'} }) }}
<h2 class="mb-2">Auteurs:</h2>
{{ form_row(form.auteur, {'attr': {'class': 'd-flex flex-wrap gap-2'} }) }}
{{ form_end(form) }}
