<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('home') }}">My app Symfony</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a>
				</div>
			</div>
			{% if app.user %}
				{% if is_granted('ROLE_ADMIN') %}
					<div class="navbar-btn me-2">
						<a href="{{ path('admin') }}" class="btn btn-secondary">Admin</a>
					</div>
				{% endif %}
				<div class="navbar-btn">
					<a href="{{ path('logout') }}" class="btn btn-danger">Se deconnecter</a>
				</div>
			{% else %}
				<div class="navbar-btn">
					<a href="{{ path('login') }}" class="btn btn-secondary">Login</a>
				</div>
			{% endif %}
		</div>
	</nav>
</header>
